@charset "utf-8";

@import "../../css/common.css";

/*==================================================================*/

/* sitemap Style css */

/*==================================================================*/

#header #header-in #logo-area .mark{
	float:left;
}

#menu{
	margin-top:-84px;
	zoom:1;
	position:relative;
}

#menu .iso{
	display:none;
}

#contents *{margin:0;padding:0;}
#contents{
	padding-top:1.1em;
}

#contents h1{
	margin:0 auto 1em;
	}

/* -------------------------------------------- */
/* tabContainerF */
/* -------------------------------------------- */

#contents dl{
	width:660px;
	margin:0 auto 1.3em;
	padding:0 0 1.2em 0.5em;
	border-bottom:#ccc 1px solid;
}

#contents dt{
	padding:0.3em 0 0.3em 1.3em;
	background:url("../image/mark_cat.gif") no-repeat 0 0;
	font-weight:bold;
}

#contents dt a{
	color:#0057a6;
}

#contents dl.second{
	margin:0 auto 1.2em;
}
/* clear hack */
#contents dl.second{zoom:1;}
#contents dl.second:after{content:" ";clear:both;height:0;display:block;visibility:hidden;}

#contents dl.second dt{
	float:left;
	width:120px;
	color:#555;
}

#contents dl.second dd{
	float:right;
	width:500px;
}

#contents dl.second ul{
	list-style:none;
	margin-bottom:0.8em;
	padding:0.3em 0 0.6em 0.5em;
	background:url("../../../common_img/line_dot.gif") repeat-x 0 100%;
}
/* clear hack */
#contents dl.second ul{zoom:1;}
#contents dl.second ul:after{content:" ";clear:both;height:0;display:block;visibility:hidden;}

#contents dl.second ul.last{
	margin-bottom:0;
	padding-bottom:0;
	background:none;
}

#contents dl.second li{
	float:left;
	width:240px;
	padding:0 0 0.5em 0;
}

#contents dl.second li a{
	display:block;
	padding:0 0 0 1.4em;
	background:url("../image/arw.gif") no-repeat 4px 2px;
}

#contents dl a.target{
	padding:0 1.5em 0 0;
	background:url("../../../common_img/mark_target.gif") no-repeat 100% 0;
}

#contents dl.second li.all{
	width:400px;
	margin-bottom:0.5em;
	font-weight:bold;
}

#contents dl.second li.all a{
	padding:0 0 0 1.4em;
	background:url("../image/arw_cat.gif") no-repeat 0 0;
}

