@import "menu.css";
body {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: #ECECEC;
    background-image: url("../../common_img/back.gif");
    background-position: 0 0;
    background-repeat: repeat-x;
    color: #111111;
    font-family: SimSun,"MS P Gothic","ＭＳ Ｐゴシック",Verdana,Chicago,sans-serif;
    font-size: 0.75em;
    line-height: 1.65;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
html {
    overflow-y: scroll;
}
body {
    letter-spacing: 1.2px;
}
br {
    letter-spacing: 0;
}
a {
    color: #333333;
    text-decoration: none;
}
a:hover {
    color: #333333;
    text-decoration: underline;
}
img {
    border-bottom-color: -moz-use-text-color;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: -moz-use-text-color;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: none;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: medium;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: -moz-use-text-color;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: none;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: medium;
    border-top-color: -moz-use-text-color;
    border-top-style: none;
    border-top-width: medium;
}
#header * {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
#header img {
    vertical-align: bottom;
}
#header {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("../../common_img/header/back_header_in.jpg");
    background-position: 50% 0;
    background-repeat: no-repeat;
}
#header #header-in {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 12px;
    padding-right: 8px;
    padding-top: 0;
    width: 948px;
}
#header #header-in {
}
#header #header-in:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
}
#header #header-in #logo-area {
    float: left;
    width: 478px;
}
#header #header-in #logo-area {
}
#header #header-in #logo-area:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
}
#header #header-in #logo-area .mark {
    float: left;
    height: 84px;
}
#header #header-in #logo-area .logo {
    float: right;
    padding-top: 29px;
}
#header #header-in .right {
    float: right;
    width: 470px;
}
#header #header-in .right div {
    padding-right: 8px;
}
#header #header-in .right div {
}
#header #header-in .right div:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
}
#header #header-in .right .headline {
    color: #FFFFFF;
    font-size: 0.85em;
    margin-bottom: 5px;
    text-align: right;
}
#header #header-in .right .headline img {
    margin-left: 5px;
}
#header #header-in .right div ul {
    float: left;
    width: 130px;
}
#header #header-in .right div ul {
}
#header #header-in .right div ul:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
}
#header #header-in .right div li {
    border-bottom-color: #CCCCCC;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #CCCCCC;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #CCCCCC;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #CCCCCC;
    border-top-style: solid;
    border-top-width: 1px;
    float: left;
}
#header #header-in .right div p {
    float: right;
    padding-top: 0.3em;
    width: 402px;
}
#header-ssl * {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
#header-ssl {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("../../common_img/header/header-ssl_back.gif");
    background-position: 0 0;
    background-repeat: repeat-x;
    padding-bottom: 1.3em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1.5em;
}
#header-ssl {
}
#header-ssl:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
}
#header-ssl .logo {
    float: left;
}
#header-ssl .close {
    float: right;
    padding-top: 1em;
}
#container {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("../../common_img/back_container.gif");
    background-position: 0 0;
    background-repeat: repeat-y;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 968px;
}
#wrapper {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("../../common_img/back_wrapper.gif");
    background-position: 0 0;
    background-repeat: no-repeat;
    padding-bottom: 24px;
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 0;
}
#wrapper {
}
#wrapper:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
}
#contents * {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
#contents {
    float: right;
    padding-top: 1.1em;
    width: 700px;
}
#contents a {
    color: #AA0000;
    text-decoration: underline;
}
#contents a:hover {
    text-decoration: none;
}
#contents a:hover img {
    opacity: 0.7;
}
#footer * {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
#footer {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("../../common_img/footer/back_footer.gif");
    background-position: 0 0;
    background-repeat: repeat-x;
    clear: both;
    color: #FFFFFF;
    line-height: 1.4;
    padding-bottom: 4em;
}
#footer a {
    color: #FFFFFF;
}
#footer #footer-menu {
    margin-bottom: 1.3em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 1em;
    padding-right: 0;
    padding-top: 1.4em;
    width: 948px;
}
#footer #footer-menu {
}
#footer #footer-menu:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
}
#footer #footer-menu p {
    float: left;
    width: 300px;
}
#footer #footer-menu ul {
    float: right;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    width: 230px;
}
#footer #footer-menu ul {
}
#footer #footer-menu ul:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
}
#footer #footer-menu li {
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #FFFFFF;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    float: left;
    padding-bottom: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0;
}
#footer #footer-menu li a.target {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("../../common_img/footer/mark_target_footer.gif");
    background-position: 100% 0;
    background-repeat: no-repeat;
    padding-right: 1.2em;
}
#footer #footer-menu li.last {
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #FFFFFF;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #FFFFFF;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
}
#footer #footer-bottom {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0;
    width: 936px;
}
#footer #footer-bottom {
}
#footer #footer-bottom:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
}
#footer #footer-bottom .tel {
    float: left;
}
#footer #footer-bottom #copyright {
    float: right;
    padding-top: 2.5em;
}
#footer-ssl * {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
#footer-ssl {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("../../common_img/footer/back_footer.gif");
    background-position: 0 0;
    background-repeat: repeat-x;
    color: #FFFFFF;
    line-height: 1.4;
    padding-bottom: 0.8em;
    padding-left: 0;
    padding-right: 0;
    padding-top: 1.2em;
    text-align: center;
}
#contents #bread {
    font-size: 0.9em;
    margin-bottom: 1em;
    margin-left: 0.1em;
    margin-right: 0.1em;
    margin-top: 0;
}
#contents #bread a {
    color: #CC0000;
}
#container .pagetop p {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 2.5em;
    margin-top: 0;
    padding-bottom: 2em;
    text-align: right;
}