@charset "utf-8";

@import "../../css/common.css";

/*==================================================================*/

/* catalog Style css */

/*==================================================================*/

#header #header-in #logo-area .mark{
	float:left;
}

#menu{
	margin-top:-84px;
	zoom:1;
	position:relative;
}

#menu .iso{
	display:none;
}

#contents *{margin:0;padding:0;}
#contents{
	padding-top:1.1em;
}

#contents h1{
	margin:0 auto 1em;
	}

/* -------------------------------------------- */
/* tabContainerF */
/* -------------------------------------------- */

#contents .comment{
	width:640px;
	margin:0 auto 1em;
}

#contents .note{
	width:610px;
	margin:0 auto 2em;
	padding:15px;
	background:#f3f3f3;
	border:#ccc 1px solid;
}

#contents .note a{
	padding:2px 15px 2px 0px;
	background:url("../../../common_img/mark_target.gif") no-repeat 100% 0;
}

#contents #all table,
#contents #all th,
#contents #all td{
	border-collapse:collapse;
	border:#ccc 1px solid;
}

#contents #all table{
	width:660px;
	margin:0 auto 3em;
}

#contents #all th{
	background:#333;
	padding:0.8em;
	color:#fff;
}

#contents #all th.cat{
	width:120px;
}

#contents #all th.name{
	width:300px;
}

#contents #all th.pdf{
	width:70px;
}

#contents #all th.cad{
	width:80px;
}

#contents #all th.other{
	width:90px;
}

#contents #all td{
	padding:0.7em 0.8em;
}

#contents #all td a{

}

#contents #all td.btn{
}

#contents #all td.pdf,
#contents #all td.cad,
#contents #all td.other{
	padding-left:0.8em;
	text-align:center;
}

#contents #all td.cat{
	background:#efefef;
	vertical-align:top;
}

#contents #all td.pdf a{
	padding:2px 18px 2px 0px;
	background:url("../image/mark_pdf.gif") no-repeat 100% 0;
}

#contents #all td.cad a{
	padding:2px 22px 2px 0px;
	background:url("../image/mark_cad.gif") no-repeat 100% 0;
}

#contents #all td.cad-cyli a{
	padding:0px 0px 2px 31px;
	background:url("../../../common_img/arw_anc.gif") no-repeat 14px 2px;
}

#contents #all td.other a{
	padding:2px 15px 2px 0px;
	background:url("../../../common_img/mark_target.gif") no-repeat 100% 0;
}



#contents #cylinders{
}

#contents #cylinders h2{
	width:660px;
	margin:0 auto 20px;
	padding:5px 0 5px 10px;
	background:#333;
	border-left:#005bac 10px solid;
	font-size:1.2em;
	color:#fff;
}

#contents #cylinders p{
	width:640px;
	margin:0 auto 10px;
}

#contents #cylinders h3{
	width:640px;
	margin:0 auto 0px;
	padding:0 0 0 15px;
	background:url("../image/mark_circle.gif") no-repeat 0 5px;
	font-size:1.2em;
}

#contents #cylinders table{
	width:660px;
	margin:0 auto 30px;
}

#contents #cylinders table,
#contents #cylinders th,
#contents #cylinders td{
	border-collapse:collapse;
	border:#ccc 1px solid;
}

#contents #cylinders th{
	width:137px;
	padding:0.8em;
	background:#eee;
	font-weight:normal;
	text-align:left;
}

#contents #cylinders td{
	padding:0.8em 0 0.2em 1em;
}

#contents #cylinders td ul{
	list-style:none;
}
/* clear hack */
#contents #cylinders td ul{zoom:1;}
#contents #cylinders td ul:after{content:" ";clear:both;height:0;display:block;visibility:hidden;}

#contents #cylinders td li{
	float:left;
	padding:0 13px 8px 0;
	white-space:nowrap;
}

#contents #cylinders td li a{
	display:block;
	width:82px;
	padding:1px 0;
	background:#f3f0de url("../image/arw.gif") no-repeat 0% 40%;
	border-right:#c2ba8d 1px solid;
	border-bottom:#c2ba8d 1px solid;
	text-decoration:none;
	text-align:center;
}

#contents #cylinders td li a:hover{
	background:#e7e3c8 url("../image/arw_on.gif") no-repeat 0% 40%;
	border-right:#c4be9c 1px solid;
	border-bottom:#c4be9c 1px solid;
	color:#990000;
}



#adobe{
	width:540px;
	margin:80px auto 30px;
	padding:20px 60px;
	background:#eee;
	border:#ccc 1px solid;
}
/* clear hack */
#adobe{zoom:1;}
#adobe:after{content:" ";clear:both;height:0;display:block;visibility:hidden;}

#adobe div{
	float:left;
}

#adobe p{
	float:right;
	width:420px;
}
